* {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
    font-size: 16px;
    font-family: Kumbh Sans;
}

.logo {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar li {
    padding: 1rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: right;
}

.user li {
    padding: 1rem;
}

i {
    font-size: 1.5rem;
}

i:hover {
    color: black;
}

.avatar img {
    width: 2.5rem;
    border: 2px solid orange;
    border-radius: 50% 50%;
}

li {
    color: gray;
    list-style-type: none;
}

a {
    color: inherit;
}

.navbar a:hover {
    color: black;
    padding-bottom: 2.7rem;
    border-bottom: 4px solid hsl(26, 100%, 55%);
}

.logo a:hover {
    padding-bottom: 2rem;
}

hr {
    margin-left: 3.5rem;
    margin-right: 1rem;
}

.product img {
    width: 400px;
    margin-left: 9rem;
    margin-top: 3.5rem;
    border-radius: 5%;
}

.thumbnails img {
    width: 75px;
    border-radius: 5%;
    margin-top: 1rem;
    margin-left: 1.80rem;
}

.thumbnails img:hover {
    cursor: pointer;
}

.thumbnails img:first-child {
    margin-left: 9rem;
}

.landing_page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail {
    width: 30rem;
    margin-right: 3rem;
}

h6 {
    color: orange;
    font-size: 0.9rem;
}

h2 {
    font-size: 2.25rem;
}

p {
    color: gray;
    font-size: 0.9rem;
}

.wpromo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wpromo h4 {
    color: orange;
    background-color: hsl(25, 100%, 94%);
    border: 4px solid hsl(25, 100%, 94%);
    border-radius: 10%;
}

.ancient {
    color: gray;
    display: flex;
    justify-content: space-around;
}

.empty {
    display: flex;
    width: 400px;
    margin-left: 9rem;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 5.5rem;
}

.price h6 {
    color: gray;
    font-size: 0.8rem;
    text-decoration: line-through
}

.cross {
    width: 30rem;
    margin-right: 3rem;
}

.add {
    display: flex;
    background-color: hsl(223, 64%, 98%);
    border-radius: 25%;
    width: 120px;
}

button {
    color: orange;
    background-color: hsl(223, 64%, 98%);
    border: none;
    border-radius: 25%;
    width: 60px;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
}

.add button:first-child {
    padding-bottom: 3px;
}

.add p {
    display: flex;
    justify-content: center;
    width: 30px;
    font-size: 15px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65rem;
    position: relative;
    bottom: 8.4rem;
    background-color: hsl(26, 100%, 55%);
    width: 220px;
    height: 45px;
    font-size: 15px;
    color: white;
}

.buy i:hover {
    color: inherit;
}

.buy:hover {
    background-color: orange;
    cursor: pointer;
}
